<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  
  -->

<configuration>

    <connectionStrings>
        <add name="IBY_ExpensesConnectionString" connectionString="Data Source=192.168.0.54;Initial Catalog=IBY_Expenses;User ID=sa;Password=IBYDEV@IBYCOM123456"
            providerName="System.Data.SqlClient" />
			 <add name="BR_ExpensesConnectionString" connectionString="Data Source=192.168.0.54;Initial Catalog=BR_Expenses;Persist Security Info=True;User ID=sa;Password=IBYDEV@IBYCOM123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="10240"  />
   
    </system.web>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  
  </appSettings>
</configuration>
